<!DOCTYPE html>
<html>
<head>
  <title>Student Tracking</title>
</head>
<body>

  <nav>
    <ul>
      <li> <a href="/students">All Students</a> </li>
      <li> <a href="/students/new">Enter New Student</a> </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
